.main-menu {
    background-color: #20B2AA;    
}

.main-menu a {
    text-decoration: none;
    color: white;
    padding: 16px;
    display: inline-block;
}

.main-menu a:hover {
    text-decoration: underline;
}