<div class="full-container">
    <!--Top Navigation-->
    <nav class="navbar">
        <div class="nav-header">           
            <a routerLink="/admin" routerLinkActive="active">Mixture - Admin</a>
            <button class="nav-toggle">
                <span>&#9776;</span>
            </button>
        </div>
        <ul class="nav navbar-right">
            <li><a routerLink="/accounts" routerLinkActive="active">Accounts</a></li>            
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-button">
                    Musik <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                <div class="dropdown-content">
                    <a href="#">Songs</a>
                    <a href="#">Videos</a>
                    <a href="#">Albumns</a>
                    <a href="#">Artists</a>
                </div>
            </li>
            <li><a routerLink="/config" routerLinkActive="active">Global Settings</a></li>
            <li class="dropdown user-profile">
                <a href="javascript:void(0)" class="dropdown-button">
                    Anita Do <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                <div class="dropdown-content">
                    <a href="#">Profile</a>
                    <a href="#">Settings</a>
                    <a href="#">Sign Out</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="body-container">
        <div class="container">
            <div class="panel">
                <div class="panel-heading">Panel Heading</div>
                <div class="panel-search-filter">Search Filter</div>
                <div class="panel-body">
                    <table>
                        <thead>
                            <tr>
                                <th>Month</th>
                                <th>Savings</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td>Sum</td>
                                <td>$180</td>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr>
                                <td>January</td>
                                <td>$100</td>
                            </tr>
                            <tr>
                                <td>February</td>
                                <td>$80</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>