.full-container{
    height: 100vh;
    background-color: #f6fcfb;
}
.navbar{
    background-color: #020605;
    height: 50px;
}

.body-container{
    /*background-color: chartreuse;*/
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
}

.container{
    height: 100%;
    padding: 15px;
}

.navbar a {
    text-decoration: none;    
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav {
    list-style: none;
}

ul{
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

.nav-header{
    float: left;
}

.navbar-right {
    float: right;
}

li a:hover, .dropdown:hover .dropdown-button {
    background-color: #1f5f54;
    color:white;
}

.dropdown{
    position: relative;
}

.dropdown-content {
    top:50px;
    display: none;    
    z-index: 9999;
    position: absolute;
    right: 0;
    background-color: #f6fcfb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
     background-color: #ace4db;
     color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*---------------------Panel---------------------*/
.panel {
    /*background-color: #e7f7f5;*/
    background-color: bisque;
    border: 1px solid #f2f4f8;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
.panel-heading {
    padding: 10px 15px;
    border: 1px solid #f2f4f8;
}
.panel-search-filter {
    padding: 15px;
    border: 1px solid #f2f4f8;
}
.panel-body {
    border: 1px solid #f2f4f8;
}
