.full-container{
    background-color: pink;    
    height: 100vh;
}
.navbar{
    background-color: cadetblue;
    height: 50px;
}

.body-container{
    /*background-color: chartreuse;*/
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
}

.navbar a {
    text-decoration: none;    
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav {
    list-style: none;
}

ul{
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

.nav-header{
    float: left;
}

.navbar-right {
    float: right;
}

li a:hover, .dropdown:hover .dropdown-button {
    background-color: #f9f9f9;
    color:cadetblue;
}

.dropdown{
    position: relative;
}
.dropdown-content {
    top:50px;
    display: none;    
    z-index: 9999;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
     background-color: darkcyan;
     color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}