<div class="full-container">

    <ul class="nav">
        <li><a routerLink="/admin" routerLinkActive="active">Admin App</a></li>
        <li><a routerLink="/accounts" routerLinkActive="active">Accounts</a></li>
        <li><a routerLink="/musik" routerLinkActive="active">Musik</a></li>
        <li><a routerLink="/config" routerLinkActive="active">Global Settings</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-button">
                Musik <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <div class="dropdown-content">
                <a href="#">Songs</a>
                <a href="#">Videos</a>
                <a href="#">Albumns</a>
                <a href="#">Artists</a>
            </div>
        </li>
        <li class="dropdown user-profile">
            <a href="javascript:void(0)" class="dropdown-button">
                Anita Do <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="#">Settings</a>
                <a href="#">Sign Out</a>
            </div>
        </li>
    </ul>
    <section class="body-container">

    </section>
</div>